.breakout-room-dialog-header {
  display: flex;
  justify-content: space-between;
  margin: 16px 16px 24px;
  width: calc(100% - 32px);
  color: #fff;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 32px;

  & > div > svg {
    cursor: pointer;
    fill: #A4B8D1;
  }
}

